@font-face {
    font-family: "Lato";
    font-style: medium;
    font-weight: 500;
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face{
    font-family: "Georgia";
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/georgia\ bold.ttf);
}