.be-aware{
    background: url(../img/bg_first_section.jpg) center center/cover no-repeat;
    min-height: 895px;
}

.be-aware__title{
    padding-top: 171px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 700;
}

.be-aware__text{
    margin-top: 30px;
    font-weight: 400;
    color:#484848;
    line-height: 31.4px;
}

.be-aware__button{
    margin-top: 60px;
}

.start-trial-size-be-aware{
    height: 65px;
    width: 227px;
}