.diary{
    padding-top: 120px;
    min-height: 936px;
}

.diary__wrapper{
    max-width: 1400px;
    display: flex;
    column-gap: 87px;
}

.diary__customize-wrapper{
    position: relative;
}

.diary__image{
    margin-left: 63px;
    border-radius: 4px;
}

.diary__customize-card{
    position: absolute;
    display: flex;
    top: 354px;
  
}

.diary__subtitle{
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color:$color-dark-green;
}

.diary__title{
    margin-top: 10px;
    width: 584px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
}

.diary__text{

    margin-top: 20px;
    max-width: 530px;
    width:100%;

    font-weight: 400;
    line-height: 31px;
    color:#484848;
}

.diary__button{
    margin-top: 40px;
}