.footer{
    min-height: 654px;
    background: #245852;
}

.footer__nav-wrapper{
    display: flex;

}

.footer__logo{
    margin-top: 95px;

}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    list-style-type: none;
}

.footer__a{
    text-decoration: none;
}

.footer__nav-item{
    margin-top: 60px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color:$color-white;
}