.start-trial-button{
    padding: 20px 50px 20px 50px;

    height: 65px;
    width: 227px;
    border:none;
    border-radius: 4px;
    background-color:$color-green;
    color:$color-white;
    font-weight: 400;
    
}

.start-trial-button--S{
    padding: 13px 50px;
    height: 51px;
    width: 183px;
}

.start-trial-button--B{
    padding: 20px 50px;
    height: 65px;
    width: 240px;
}