@import url(./utility/variables.scss);
@import url(./utility/fonts.scss);
@import url(./utility/content-wrapper.scss);

@import url(./header-wrapper.scss);
@import url(./navigation.scss);


*{
    font-family: "Lato";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


